@import "Variables";

#coinimptypo3__running__box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: $default_size * 2;
  height: $default_size * 2;
  display: none;
  cursor: pointer;
}

#coinimptypo3__running__box__animation {
  position: relative;
  top: $default_size / 2;
  left: $default_size / 2;
  height: $default_size;
  width: $default_size;
}

.color-default #coinimptypo3__running__box__animation {
  animation: glow-default 1s infinite alternate,
  rotation 2s infinite linear;
}

.color-dark #coinimptypo3__running__box__animation {
  animation: glow-dark 1s infinite alternate,
  rotation 2s infinite linear;
}

.color-default #coinimptypo3__running__box__animation {
  background-color: $color_3;
}

.color-dark #coinimptypo3__running__box__animation {
  background-color: invert($color_3);
}

.coinimptypo3__running__box__show #coinimptypo3__running__box__animation {
  display: none;
}

.coinimptypo3__running__box__show #coinimptypo3__running__box__detail_wrap {
  display: block;
}

#coinimptypo3__running__box__detail_wrap {
  display: none;
  position: fixed;
  bottom: $default_size / 2;
  left: $default_size / 2;
  right: $default_size / 2;
  border: $default_size / 8 solid $color_2;
}

.color-default #coinimptypo3__running__box__detail_wrap {
  background-color: $color_1;
}

.color-dark #coinimptypo3__running__box__detail_wrap {
  background-color: invert($color_1);
}

#coinimptypo3__running__box__detail_content {
  padding: $default_size;
}

.coinimptypo3__running__box__p {
  margin-top: 0;
  margin-bottom: $default_size / 2;
}

.color-default .coinimptypo3__running__box__p {
  color: $color_2;
}

.color-dark .coinimptypo3__running__box__p {
  color: invert($color_2);
}

.color-default .coinimptypo3__running__box__stats__item {
  color: $color_2;
}

.color-dark .coinimptypo3__running__box__stats__item {
  color: invert($color_2);
}

.color-default .coinimptypo3__running__box__headline {
  color: $color_2;
}

.color-dark .coinimptypo3__running__box__headline {
  color: invert($color_2);
}

.color-default .coinimptypo3__running__box__config__label {
  color: $color_2;
}

.color-dark .coinimptypo3__running__box__config__label {
  color: invert($color_2);
}

.coinimptypo3__running__link {
  font-weight: 900;
  display: inline-block;
  cursor: pointer;
}

.color-default .coinimptypo3__running__link {
  color: $color_2;
}

.color-dark .coinimptypo3__running__link {
  color: invert($color_2);
}

#coinimptypo3__running__box__close {
  position: absolute;
  right: $default_size;
  bottom: $default_size;
  font-weight: 900;
  cursor: pointer;
}

.color-default #coinimptypo3__running__box__close {
  color: $color_2;
}

.color-dark #coinimptypo3__running__box__close {
  color: invert($color_2);
}

#coinimptypo3__running__box.coinimptypo3__running__box__show {
  cursor: default;
}

.coinimptypo3__running__box__stats__warp {
  margin-bottom: $default_size / 2;
}

.coinimptypo3__running__box__stats__label {
  font-weight: 900;
}

.coinimptypo3__running__box__headline {
  font-size: $default_size * 1.25;
  margin-bottom: $default_size / 4;
  margin-top: 0;
}

#coinimptypo3__notification__box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: $default_size / 2;
}

#coinimptypo3__notification__box.color-default {
  background-color: $color_1;
  border-bottom: $color_2 solid $default_size / 16;
}

#coinimptypo3__notification__box.color-dark {
  background-color: invert($color_1);
  border-bottom: invert($color_2) solid $default_size / 16;
}

.coinimptypo3__notification__p {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  font-size: $default_size;
}

.color-default .coinimptypo3__notification__p {
  color: $color_2;
}

.color-dark .coinimptypo3__notification__p {
  color: invert($color_2);
}

@mixin coinimptypo3__default__a {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 900;
  cursor: pointer;
}

.coinimptypo3__default__a {
  @include coinimptypo3__default__a;
}

.color-default .coinimptypo3__default__a {
  color: $color_2;
}

.color-dark .coinimptypo3__default__a {
  color: invert($color_2);
}

.coinimptypo3__notification__a {
  @include coinimptypo3__default__a;
}

.coinimptypo3__notification__p__decision {
  margin-top: $default_size / 4;
}

.coinimptypo3__notification__a__allow {
  color: $color_4;
}

.coinimptypo3__notification__a__forbid {
  color: $color_5;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes glow-default {
  from {
    box-shadow: 0 0 $default_size / 4 -$default_size / 4 $color_3;
  }
  to {
    box-shadow: 0 0 $default_size / 4 $default_size / 4 $color_2;
  }
}

@keyframes glow-dark {
  from {
    box-shadow: 0 0 $default_size / 4 -$default_size / 4 invert($color_3);
  }
  to {
    box-shadow: 0 0 $default_size / 4 $default_size / 4 invert($color_2);
  }
}
