@import "Variables";

#coinimptypo3__content__box {
  padding: $default_size;
}

#coinimptypo3__content__box.color-default {
  border: solid $color_2 $default_size / 16;
  background-color: $color_1;
}

#coinimptypo3__content__box.color-dark {
  border: solid invert($color_2) $default_size / 16;
  background-color: invert($color_1);
}

#coinimptypo3__content__infotext__wrap {
  margin-top: 0;
  margin-bottom: 0;
}

.color-default {
  color: $color_2;
}

.color-dark {
  color: invert($color_2);
}

#coinimptypo3__content__infoclick {
  display: inline-block;
  font-weight: 900;
  cursor: pointer;
}

#coinimptypo3__content__startstop .icon-content-element-coinimp-logo-without-borders img {
  width: 100%;
  height: auto;
  display: block;
}

#coinimptypo3__content__startstop {
  margin-top: $default_size;
  margin-bottom: $default_size;
  cursor: pointer;
  position: relative;
}

#coinimptypo3__content__infotext__how {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding: $default_size;
  display: none;
}

.color-default #coinimptypo3__content__infotext__how {
  background-color: $color_3;
}

.color-dark #coinimptypo3__content__infotext__how {
  background-color: invert($color_3);
}

#coinimptypo3__content__infotext__close {
  display: block;
  font-weight: 900;
}

.coinimptypo3__content__infotext__how__show {
  display: block !important;
}

#coinimptypo3__content__infotext__wrap {
  margin-top: 0;
  margin-bottom: 0;
}

#coinimptypo3__content__running__stats {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding: $default_size;
  display: none;
}

.color-default {
  color: $color_2;
}

.color-dark {
  color: invert($color_2);
}

.color-default #coinimptypo3__content__running__stats {
  @include background-opacity($color_3, 0.75);
}

.color-dark #coinimptypo3__content__running__stats {
  @include background-opacity(invert($color_3), 0.75);
}

#coinimptypo3__content__running__stop {
  display: block;
  font-weight: 900;
  margin-top: $default_size / 4;
}
