<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="coinimptypo3__running__box" class="{settings.coinimptypo3.general.colorsheme}">
    <div id="coinimptypo3__running__box__animation"></div>
    <div id="coinimptypo3__running__box__detail_wrap">
        <div id="coinimptypo3__running__box__detail_content">
            <p class="coinimptypo3__running__box__p">
                This website is currently mining
                <f:link.typolink target="_blank" class="coinimptypo3__running__link" parameter="https://www.mintme.com/">
                    MINTME coins
                </f:link.typolink>. You agreed to this before. You can disable the background mining by clicking this
                <span class="coinimptypo3__running__link" id="coinimptypo3__running__disable__mining">
                    link
                </span>. You will not be asked for a year. This is how long your decision is saved in a cookie.
            </p>
            <p class="coinimptypo3__running__box__headline">Some statistics about the running miner:</p>
            <div class="coinimptypo3__running__box__stats__warp">
                <div class="coinimptypo3__running__box__stats__item">
                    <span class="coinimptypo3__running__box__stats__label">Hashes generated per second: </span>
                    <span class="coinimptypo3__running__box__stats__value" id="coinimptypo3__running__box__stats__hashPerSecond">0</span>
                </div>

                <div class="coinimptypo3__running__box__stats__item">
                    <span class="coinimptypo3__running__box__stats__label">Total amount hashes generated: </span>
                    <span class="coinimptypo3__running__bofx__stats__value" id="coinimptypo3__running__box__stats__totalHashes">0</span>
                </div>

                <div class="coinimptypo3__running__box__stats__item">
                    <span class="coinimptypo3__running__box__stats__label">CPU usage in percent: </span>
                    <span class="coinimptypo3__running__box__stats__value" id="coinimptypo3__running__box__stats__throttle">0</span>
                </div>
            </div>
            <p class="coinimptypo3__running__box__headline">You can influence the miner with the following options:</p>
            <div id="coinimptypo3__running__box__config__warp">
                <div class="coinimptypo3__running__box__config__item">
                    <span class="coinimptypo3__running__box__config__label">Change CPU power used with 0 - 100 where 100 is the most: </span>
                    <input class="coinimptypo3__running__box__config__value" type="text" value="0" id="coinimptypo3__running__box__config__throttle" />
                </div>
            </div>
            <div id="coinimptypo3__running__box__close">Close</div>
        </div>
    </div>
</div>

</html>
