<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="coinimptypo3__notification__box" class="{settings.coinimptypo3.general.colorsheme}">
    <p class="coinimptypo3__notification__p">
        We would like to create <f:link.typolink target="_blank" class="coinimptypo3__default__a" parameter="https://www.mintme.com/">MINTME coins</f:link.typolink>
        during your visit with your browser.
        <f:if condition="{settings.coinimptypo3.info.more.link.parameter}">
            For more information about creating MINTME coins please
            <f:link.typolink
                    parameter="{settings.coinimptypo3.info.more.link.parameter}"
                    class="coinimptypo3__notification__a"
            >
                {settings.coinimptypo3.info.more.link.text}
            </f:link.typolink>.
        </f:if>
    </p>
    <p class="coinimptypo3__notification__p coinimptypo3__notification__p__decision">
        <span class="coinimptypo3__notification__a coinimptypo3__notification__a__allow">Create coins</span> /
        <span class="coinimptypo3__notification__a coinimptypo3__notification__a__forbid">No thanks</span>
        (A cookie will be created to save your decision)
    </p>
</div>

</html>
