<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{settings.coinimptypo3.general.assets.inline} == 1">
    <script src="/typo3conf/ext/coinimptypo3/Resources/Public/JavaScript/app.js?v=3743868"></script>
    <link rel="stylesheet" type="text/css" href="/typo3conf/ext/coinimptypo3/Resources/Public/CSS/styles.css?v=3743868" media="all">
</f:if>

</html>
