<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    {f:render(partial: 'Assets/Inlcude')}

    <f:if condition="{settings.coinimptypo3.info.enable} != 1">
        {f:render(partial: 'Background/TopInfoBox')}
    </f:if>

    <f:if condition="{settings.coinimptypo3.running.enable} != 1">
        {f:render(partial: 'Background/BottomInfoBox')}
    </f:if>

</html>
