<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

    <f:layout name="Default" />
    <f:section name="Main">
        {f:render(partial: 'Assets/Inlcude')}
        {f:render(partial: 'ContentElement', arguments: {limit : limit})}
    </f:section>

</html>
